/*========================( Common )============================*/
body {
	font: 10pt Arial, Helvetica, sans-serif;
	color: #000;
	background-color: #333;
	margin: 0px;
	padding: 0px;
	height:100%;
	}


h1 { font: normal 16pt Arial, Helvetica, sans-serif;  color: black;  margin-bottom: 3px;   }

h2{
	font: bold 13pt Arial, Helvetica, sans-serif;  
	color: #75548d;
	margin-left: 1em;
	margin-bottom: .5em; 
	
}

h5 {
	font: 10pt arial;
	font-weight: bold;
	margin: 0px 0px 3px 0px;
	padding: 0px 0px 0px 0px;	
	color: #000;
}

p.bold{
	font-weight: bold;
}


.indent {
	padding-left: 1em;
}
.doubleindent {
	padding-left: 3em;
}

.terms{
	font-size: 12pt;
	font-weight: bold;
}

.bgGrey{
	background-color: #ddd;
}

.bgWhite{
	background-color: #fff;
}

.bgBlue{
  	background-color: #3464a2;
}

.bgGreybold{
	background-color: #eee;
	font-weight: bold;
}

.backwarning {
	color: red;
	width: 80%;
}

ol.tc44 {
	margin-top: 0px;
	padding-top: 0px;
}

ol.tc44 li {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

div.print {
    width: 80%;
    font: 10pt Arial, Helvetica, sans-serif;
}
/*========================( Tables )============================*/
table.print {
    border-top: solid 1px #000000;
    border-right: solid 1px #000000;
	border-left: solid 1px #000;
    width: 96%;
    border-spacing: 0;
    border-collapse: collapse;    
}


table.print td {
	font: 9pt Arial, Helvetica, sans-serif;
    padding: 4px;
   /* border-left: solid 1px #000000;*/
    border-bottom: solid 1px #000000;
    margin: 0px;
}

table.printterms {
    border-top: solid 1px #000000;
    border-right: solid 1px #000000;
    width: 96%;
    border-spacing: 0;
    border-collapse: collapse;    
}

table.printterms td {
	font: 11pt Arial, Helvetica, sans-serif;
	padding: 4px;
    border-left: solid 1px #000000;
    border-bottom: solid 1px #000000;
    margin: 0px;
}

table.tableBorderGrey {
    border-top: solid 1px #000000;
    border-right: solid 1px #000000;
    border-left: solid 1px #000;
    width: 96%;
    border-spacing: 0;
    border-collapse: collapse;   
}

table.tableBorderGrey td{
	font: 9pt Arial, Helvetica, sans-serif;
    padding: 4px;
   /* border-left: solid 1px #000000;*/
    border-bottom: solid 1px #000000;
    margin: 0px;
}

table.helptable{
	width: 100%;
	border: 1px solid #000;
}
table.helptable td{
	font: 9pt Arial, Helvetica, sans-serif;
}

li.spacer{
	clear:both;
	list-style-type: none;
}


.short{
	width: 80%;
	font: 11pt Arial, Helvetica, sans-serif;
}


.tablehead {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	color: #555555;
}

.tabletitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	color: #000;
	background-color: #ddd;
}



/*========================( Help )============================*/
ul.help {
	margin-top: 0px;
	/*padding-left: 0px;
	padding-bottom: 0px;*/
}

ul.help li {
 	font-family: Arial, Helvetica, sans-serif;
 	font-size: 9pt;
}
h5.mainhelp {
	margin-top: 15px;
	color: #000;
}


h4.mainhelp {
	margin-bottom: 15x;
	color: #000;
}


h1.mainhelp {
	margin-top: 15px;
	margin-bottom: 15px;
}

.breadcrumb_on {
 	font-family: Arial, Helvetica, sans-serif;
 	font-size: 8pt;
 	font-weight: bold;
 	color: white;
}

.breadcrumb_off {
 	font-family: Arial, Helvetica, sans-serif;
 	font-size: 8pt;
 	font-weight: normal;
 	color: gray;
}

.confPrint{
	padding: 5px;
}


/*=============================( Navigation )==================*/
.hilite {
	background: white;
	color: #3464a2;
	margin: 2px 0px 2px 0px; 
	padding: 2px 2px 2px 4px;
	font-weight: bold;
	font-size: 11px;
	list-style-type: none;
}

div.nav {
  	width: 151px;
  	font-size: 8pt;
  	clear: both;
}

span.nnavl {
  	text-align: right;
  	width: 92%;
  	float: left;
  	padding-top: 2px;
  	padding-bottom: 0px;
  	padding-right: 2px;
  	color: #ccc;
	/*display: marker;*/
}
span.nnavr{
	color: #ccc;
	width: 6%;
	padding-top: 1px;
	float: right;
}
div.nav span.nnavl a{
	color: #ccc;
	text-decoration:  none;
}

div.nav span.nnavl a:hover{
   color: #6cce98;
	text-decoration: underline;
}
 
 
/*======================( Review )=======================================*/ 

.header{
    float:left;
    background: #e4a;
    width:100%;
    background:#fff url("../images/botborder.gif") repeat-x bottom;
    line-height:normal;
    border-bottom: 0px solid #3464a2;
}

.altheader{
    float:left;
    background: #fff;
    width:100%;
    line-height:normal;
    border-bottom: 0px solid #3464a2;	
}
.header ul { 
    margin:0;
    padding:2px 10px 0;
    list-style:none;
}
.altheader ul {
    margin:0;
    padding:2px 10px 0;
    list-style:none;
}

.header li {
    float:left;
/*	 background: url("../images/righttab_off.gif") no-repeat right center;	 */
    margin: 0 1px 0px 1px;
    padding:0px 0px 0px 0px;
    list-style:none;
}
.altheader li {
    float:left;
/*	 background: url("../images/righttab_off.gif") no-repeat right center;	 */
    margin: 0 1px 0px 1px;
    padding:0px 0px 0px 0px;
    list-style:none;
}
input.test{
   	font-size: 8pt;
	color: #3464a2;
	background:  url("../images/basetaboff_print.gif") no-repeat left top;		
	border: none;
	margin-right: 0px;
	margin-bottom: 1px;
	width: 110px;
	height: 23px;
}

input.teston{
   	font-size: 8pt;
	color: #fff;
	background:  url("../images/basetabon_print.gif") no-repeat left top;		
	border: none;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 1px;
	width: 110px;
	height: 23px;	
}

form.review{
	padding: 0;
	margin: 0;
}


table.reviewtab{
   	border-bottom: 0px;
   	border-top: solid 1px #000000;
   	border-right: solid 1px #000000;
   	width: 80%;
   	border-spacing: 0;
   	border-collapse: collapse;   
}

.reviewtabtext{
	margin-left: 2em;
}

/*========( complex lists )========= */
div.list {
  	width: 99%;
}
div.lista {
  	width: 96%;
  	margin-left: 20px;
}
span.listL {
  	text-align: right;
  	width: 9%;
  	float: left;
  	padding-right: 6px;
}
span.listR{
	width: 89%;
	float: left;
}


/******** Layout ************************/
/******** CSS Layout containers for entire site ***********/

#webchat {
	
	}

#container{
   
   width: 100%;
   background-image: url(../images/horizbar_short_bl.gif);
   background-repeat: repeat-y;
   background-color: #FFF;
}



#navigation{

	width: 152px;
	float: left;
	margin-left: -1px;
	display: none;
	margin-bottom: 0;
}
	
#content {
	margin-left: 11px;
	width: 98%;
	clear: right;
	color: #000;
	padding-bottom: 0;
	
}

#header {
	/*background-image: url(../images/basebanner.gif);*/
	margin-bottom: 0px;
	height: 70px;
	width: 779px;
}

#headernavigation{
	width: 779px;
	background: #3464a2;
	height: 18px;
}

#subheader {
	margin-bottom: 0px;
	background-image: url(../images/subbanner_short.gif);
	height: 35px;
	width: 779px;
}	
	


#headernavigation ul {
	margin: 0;
	padding: 0;
	display: inline;
	list-style-type: none;
	width: 779px;
	float: left;
}

#headernavigation ul li.d0l {
	width: 360px;
	float: left;
	text-align: left;
	list-style-type: none;
}

#headernavigation ul li {
	text-align: center;
	width: 79px;
	float: left;
	list-style-type: none;	
}

#headernavigation ul li.wide{
	width: 124px;
	float: left;
}

#headernavigation ul li a:hover {
	color: #fff;
}


/*******End Layout ***********************/


a.skiplink {left: -300em; width: 5em; height: 1px;position: absolute;}

label.quiet {
	display: none;
	/* just in case the display property is not supported */
	visibility: hidden;
}

.access {
	display: none;
}