*{
  padding:0;
  margin:0;
  border:0;
  font-family:  "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
@media only screen and (min-width: 0px) {
  body{
    background-color: black;
  }
  .App{
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home{
    display: flex;
    height: 100vh;
  }
  .name{
    position: absolute;
    z-index: 1;
    color:rgba(255, 255, 255, 0.239);
    font-size: 5em;
  }
  .main{
    font-family: Georgia, serif;
    letter-spacing: 0.2em;
    color:white;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav{
    background-color: #151515;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-right:0.1px solid #728d9a;
  }
  .nav a{
    transform: scale(1);
    transition-duration:1.2s;
    transition-timing-function:ease-out;
    color:white;
    text-decoration:none;
    padding:10% 0% 10% 0%;
    border-top: 0.1px rgb(255, 255, 255) solid;
    padding:6.5% 45% 6.5% 45%;
  }
  .nav a:hover{
    color: rgb(127, 206, 251);
    transform: scale(1.1);
    transition-duration:0.1s;
    transition-timing-function:linear;
    padding:6.5% 40% 6.5% 40%;
  }
  #share{
    display:flex;
    justify-content: center;
    flex-direction: row;
    position:fixed;
    bottom:0;
    width:100%;
    margin:0;
    border-radius: 0;
  }
  .hover{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 75px;
    background-color: #25292c;
    border-radius: 99px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
  }
  .hover:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  .hover span {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: whitesmoke;
    font-family: 'Fira Mono', monospace;
    font-size: 24px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
  }
  .hover .social-link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    color: whitesmoke;
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
  }
  #share a:hover{
    background-color:rgb(50, 53, 56)
  }
  
  @keyframes bounce {
    40% {
      transform: scale(1.4);
    }
    60% {
      transform: scale(0.8);
    }
    80% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  .CT_button{
    width:70%;
    top:77%;
    right:15%;
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .CT_button button{
    color:#08fdd8;
    text-decoration: none;
    background-color: black;
    border: solid 1px #089b85;
    margin: 0% 3% 0% 3%;
    border-radius: 2px;
    padding:3%;
    width:45%;
  }
  .CT_button button:hover{
    background-color:#089b85;
    color:white;
  }
  .contact{
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
  }
  .contact form{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:65%;
  }
  .contact form h1{
    text-align: center;
    font-size: 1.5em;
    margin: 1%;
  }
  .contact form p{
    font-size: 0.69em;
    margin: 1%;
  }
  .contactInput{
    outline: none;
    border-bottom: 2px white solid;
    border-radius: 10px;
    background-color:rgb(0, 0, 0);
    padding:5% 5% 5% 5%;
    margin:2%;
  }
  /* input textarea outline: none; */
  .contact textarea{
    background-color:rgb(0, 0, 0);
    border-bottom: 2px white solid;
    border-radius: 10px;
    padding:5% 5% 5% 5%;
    margin:2%;
    outline: none;
    resize: none;
  } 
  
  .contact input::placeholder{
    color:rgba(248, 248, 248, 0.712);
  }
  .contact textarea::placeholder{
    color:rgba(248, 248, 248, 0.712);
  }
  .contact input:focus{
    border-bottom: 2px solid #00afdb;
  }
  .contact textarea:focus{
    border-bottom: 2px solid #00afdb;
  }
  .contactSend{
    display:flex;
    justify-content: center;
    border-radius: 5px;
    margin:5%;
  }
  .contactSend button{
    padding:3% 5% 3% 5%;
    border-radius: 3px;
    width:50%;
    background-color:black;
    color:#08fdd8;
    border:solid #089b85 1px;
  }
}




@media only screen and (min-width: 450px) {
  .main{
    font-size: 1em;
  }
  .nav a{
    padding:5.5% 47% 5.5% 47%;
  }
  .nav a:hover{
    padding:5.5% 42% 5.5% 42%;
  }
}




@media only screen and (min-width: 550px) {
  .nav a{
    padding:4.7% 50% 4.7% 50%;
  }
  .nav a:hover{
    padding:4.7% 45% 4.7% 45%;
  }
  .CT_button button{
    width:35%;
  }
}




@media only screen and (min-width: 650px) {
  .nav a{
    padding: 4% 50% 4% 50%;
  }
  .nav a:hover{
    padding: 4% 45% 4% 45%;
  }
  .main{
    font-size: 1.2em;
  }
  .CT_button button{
    width:30%;
  }
}





@media only screen and (min-width: 750px) {
  .main{
    font-size: 1.4em;
  }
  .nav a{
    padding:3.5% 47% 3.5% 47%;
  }
  .nav a:hover{
    padding:3.5% 42% 3.5% 42%;
  }
  .CT_button button{
    width:28%;
  }
}





@media only screen and (min-width: 850px) {
  .main{
    font-size: 1.6em;
  }
  .nav{
    height: 100vh;
    width:13%;
    flex-direction: column;
    border-right:0.1px solid #728d9a;
  }
  .nav a{
    display: block;
    padding:5% 20% 5% 20%;
    transform: scale(1);
    transition-duration:1s;
    transition-timing-function:ease-out;
    color:white;
    text-decoration:none;
    border-top:0;
  }
  .nav a:hover{
    color: rgb(127, 206, 251);
    padding:5% 19.5% 5% 19.5%;
    transform: scale(1.2);
    transition-duration:0.3s;
    transition-timing-function:ease-in;
  }
  .nav a:active{
    padding:5% 20% 5% 20%;
    color:rgb(250, 129, 129);
    transform: scale(1.1);
    transition-duration:0.1s;
    transition-timing-function:ease-out;
  }
  #sandwich{
    display:none;
  }
  #share{
    right:0;
    height: 100vh;
    width: 10%;
    flex-direction: column;
  }
  .CT_button{
    width:70%;
  }
  .CT_button button{
    padding:2%;
    width:20%;
  }
  #share a:hover{
    width:100%;
  }
}





@media only screen and (min-width: 950px) {
  .main{
    font-size: 1.8em;
  }
  .nav{
    width:11.5%;
  }
  .CT_button button{
    padding:1.8%;
  }
}





@media only screen and (min-width: 1050px) {
  .main{
    font-size: 2em;
  }
  .nav{
    width:10.5%;
  }
  .CT_button button{
    padding:1.6%;
    width:19.5%;
  }
}





@media only screen and (min-width: 1150px) {
  .main{
    font-size: 2.2em;
  }
  .nav{
    width:9.5%;
  }
}




@media only screen and (min-width: 1250px) {
  .main{
    font-size: 2.4em;
  }
  .nav{
    width:9.2%;
  }
  .CT_button button{
    padding:1.5%;
    width:19%;
  }
}





@media only screen and (min-width: 1350px) {
  .main{
    font-size: 2.6em;
  }
  .nav{
    width:9%;
  }
}




@media only screen and (min-width: 1450px) {
  .main{
    font-size: 2.8em;
  }
  .nav{
    width:8.8%;
  }
  #share{
    width:7%;
  }
  .CT_button button{
    padding:1.4%;
    width:18.5%;
  }
}





@media only screen and (min-width: 1550px) {
  .main{
    font-size: 3em;
  }
  .nav{
    width:8.5%;
  }
  .CT_button button{
    width:18%;
  }
}






@media only screen and (min-width: 1650px) {
  .main{
    font-size: 3.2em;
  }
  .nav{
    width:8.2%;
  }
  .CT_button button{
    width:17.5%;
  }
}





@media only screen and (min-width: 1750px) {
  .main{
    font-size: 3.4em;
  }
  .nav{
    width:8%;
  }
  .CT_button button{
    width:17%;
  }
}




@media only screen and (min-width: 1850px) {
  .main{
    font-size: 3.6em;
  }
  .CT_button button{
    width:16.5%;
  }
}




@media only screen and (min-width: 1950px) {
  .main{
    font-size: 3.8em;
  }
}




@media only screen and (min-width: 2050px) {
  .main{
    font-size: 4em;
  }
}



@media only screen and (min-width: 2150px) {
  .main{
    font-size: 4.2em;
  }
}



@media only screen and (min-width: 2250px) {
  .main{
    font-size: 4.4em;
  }
}






/* Max width media */

@media only screen and (max-width:849px){
  .nav a:hover{
    background-color: rgb(170, 170, 170);
  }
  #sandwich{
    position: fixed;
    margin: 1.5%;
    top:0;
    right:0;
    width:50px;
    height: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #sandwich div{
    width:40px;
    height: 5px;
    background-color:white;
    margin:7% 5% 7% 5%
  }
  .nav{
    display:none;
  }
}





/* MAX HEIGHT  */

@media only screen and (max-height:650px) and (min-width:550px){
  .main{
    font-size: 1.6em;
  }
  .nav{
    height: 100vh;
    width:13%;
    display: flex;
    flex-direction: column;
    border-right:0.1px solid #728d9a;
  }
  .nav a{
    padding:5% 0% 5% 0%;
    transform: scale(1);
    transition-duration:0.5s;
    transition-timing-function:ease-out;
    color:white;
    text-decoration:none;
    border-top:0;
    font-size: 0.95em;
  }
  .nav a:hover{
    background-color: #151515;
    padding:5% 0% 5% 0%;
    color:rgb(127, 206, 251);
    transform: scale(1.1);
    transition-duration:0.1s;
    transition-timing-function:ease-out;
  }
  #sandwich{
    display:none;
  }
  #share{
    right:0;
    height: 100vh;
    width: 10%;
    flex-direction: column;
  }
  .CT_button{
    width:70%;
  }
  #share a:hover{
    width:100%;
  }
  .main{
    font-size: 0.9em;
  }
  .CT_button button{
    padding:2%;
    width:30%;
  }
}




@media only screen and (max-height:650px) and (min-width:650px){
  .main{
    font-size: 1em;
  }
  .CT_button button{
    width:29%;
  }
  .nav a{
    font-size: 1em;
  }
}




@media only screen and (max-height:650px) and (min-width:750px){
  .main{
    font-size: 1.1em;
  }
  .CT_button button{
    width:28%;
  }
  .nav a{
    font-size: 1.025em;
  }
}




@media only screen and (max-height:650px) and (min-width:850px){
  .main{
    font-size: 1.2em;
  }
  .CT_button button{
    width:27%;
  }
  .nav a{
    font-size: 1.050em;
  }
}



@media only screen and (max-height:650px) and (min-width:950px){
  .main{
    font-size: 1.3em;
  }
  .CT_button button{
    width:26%;
  }
  .nav a{
    font-size: 1.075em;
  }
}




@media only screen and (max-height:650px) and (min-width:1050px){
  .main{
    font-size: 1.4em;
  }
  .CT_button button{
    width:25%;
  }
  .nav a{
    font-size: 1.1em;
  }
}




@media only screen and (max-height:650px) and (min-width:1150px){
  .main{
    font-size: 1.5em;
  }
  .CT_button button{
    width:24%;
  }
  .nav a{
    font-size: 1.125em;
  }
}




@media only screen and (max-height:650px) and (min-width:1250px){
  .main{
    font-size: 1.6em;
  }
  .CT_button button{
    width:23%;
  }
  .nav a{
    font-size: 1.150em;
  }
}




@media only screen and (max-height:650px) and (min-width:1450px){
  .main{
    font-size: 1.7em;
  }
  .CT_button button{
    width:22%;
  }
  .nav a{
    font-size: 1.175em;
  }
}


